<!DOCTYPE html>

<head>
    <title>Pictowin Server</title>
</head>

<body>
    <p>Pictowin Server</p>
    <!-- Basic form to collect user data
    <div>
        Add a Todo
        <form action="/" method="POST">
            <input type="text" name="todo" id="todo" placeholder="Add a todo" />
            <input type="submit" value="Add Todo" />
        </form>
    </div> -->
</body>